@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  color: rgb(71, 71, 71);
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
